In [1]:
import pandas as pd
import requests
import xmltodict
import json
pd.set_option('display.max_columns', None)

The data here extracted comes from Ayuntamiento de Madrid's [Open Data](https://datos.madrid.es/portal/site/egob).
<br>This source stores multiple data related to the city of Madrid. In this case, we will get info on hotels and bars and restaurants.

In [2]:
pd.read_csv('../data/grid.csv')

/var/folders/m6/wtrz4vsj7cv881kk9kqh1v500000gn/T/ipykernel_9987/3981961802.py:1: DtypeWarning: Columns (43,44,47,48,50,51,52,53,54,55,56,57,59,60) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('../data/grid.csv')

,X,Y,rowid,cad_tot_houses,cad_tot_hab,cad_tot_hotels,cad_med_consq,cad_tot_parcs,cad_pk,cad_tot_srf_houses,cad_tot_srf_hotels,fc_tot_offer,fc_tot_owners,fc_avg_price,rn_ab_min_price,rn_fc_med_price,rn_fc_max_price,rn_fc_offer,rn_ab_tot_price,rn_fc_min_price,rn_ab_med_price,rn_ab_avg_price,rn_fc_avg_price,rn_ab_max_price,rn_ab_offer,rn_fc_tot_price,abnb_tot_beds,abnb_tot_hosts_listings,abnb_tot_price,abnb_tot_offer,abnb_tot_owners,abnb_pk,abnb_tot_reviews,abnb_tot_reviews_per_month,fl_n_tourists,fl_n_locals,fl_txt_madrid,fl_n_date,fl_n_user,fl_n_posts,fl_tag_madrid,h_cat3cod,h_id,h_web,h_title,h_zipcode,h_latitude,h_email,h_body,h_fax,h_phone,h_cat3txt,h_subadministrativearea,h_address,h_cat1txt,h_cat2txt,h_name,h_language,h_cat2cod,h_country,h_locality,h_longitude,h_cat1cod,local200_n_shops24h,local200_n_shops,local200_n_prox_fresco,local200_n_prox_supers,local200_n_epigrafes,local200_n_alquillercoche,local200_n_prox_alcohol,local200_n_fiesta,local200_n_prox_noalim,local200_n_alojamiento,local200_n_prox_educacion,local200_n_vacios,local200_n_locutoris,local200_n_restaurants,local200_n_desconocidos,local200_n_prox_pastelerias,local200_n_prox_supersbig,local200_n_agrupaciones,local200_n_locales,local200_n_sex,local300_n_shops24h,local300_n_shops,local300_n_prox_fresco,local300_n_prox_supers,local300_n_epigrafes,local300_n_alquillercoche,local300_n_prox_alcohol,local300_n_fiesta,local300_n_prox_noalim,local300_n_alojamiento,local300_n_prox_educacion,local300_n_vacios,local300_n_locutoris,local300_n_restaurants,local300_n_desconocidos,local300_n_prox_pastelerias,local300_n_prox_supersbig,local300_n_agrupaciones,local300_n_locales,local300_n_sex,tp_pricerange_tot,tp_rating_tot,tp_reviews_max,tp_reviews_min,tp_offers_tot,tp_reviews_med,tp_rating_avg,tp_pricerange_1,tp_pricerange_avg,tp_pricerange_3,tp_pricerange_2,tp_pricerange_0,tp_pricerange_med,tp_rating_min,tp_rating_med,tp_rating_max,tp_pk,tp_reviews_tot,tp_reviews_avg,rn_med_tramo
0,446400.000000,4.477265e+06,1,192.0,332.0,0.0,4.00000,33.0,4860.0,11394.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,2.0,30.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,9.0,0.0,0.0,0.0,1.0,79.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
1,446400.000000,4.481768e+06,2,153.0,50.0,0.0,3.29969,13.0,4881.0,15460.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,34.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
2,446400.000000,4.472935e+06,3,317.0,826.0,0.0,4.25699,3.0,4843.0,32985.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,1.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.0,2.0,25.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,7.0,0.0,1.0,0.0,0.0,50.0,0.0,0.0,0.0,8.0,4.0,57.0,0.0,0.0,0.0,4.0,0.0,2.0,2.0,0.0,15.0,0.0,1.0,0.0,0.0,115.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
3,446400.000000,4.477438e+06,4,64.0,114.0,0.0,3.00000,2.0,4861.0,9200.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,2.0,34.0,0.0,0.0,0.0,1.0,0.0,3.0,1.0,0.0,12.0,0.0,0.0,0.0,0.0,49.0,0.0,0.0,0.0,0.0,2.0,35.0,0.0,0.0,0.0,1.0,0.0,3.0,1.0,0.0,12.0,0.0,0.0,0.0,0.0,81.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0
4,446400.000000,4.481941e+06,5,33.0,11.0,0.0,4.00000,1.0,4882.0,4256.0,0.0,NaN,NaN,NaN,4258.333333,NaN,NaN,NaN,4258.333333,NaN,4258.333333,4258.333333,NaN,4258.333333,1.0,NaN,3.0,1.0,140.0,1.0,1.0,2360.0,20.0,0.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12305,-3.683312,4.043566e+01,12306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,194.0,http://www.esmadrid.com/alojamientos/residenci...,Residencia Virgen del Pilar,28006.0,40.435660,NaN,NaN,NaN,(+34) 91 563 35 64,NaN,Madrid,"Velázquez, 103",Alojamientos,Residencias universitarias,Residencia Virgen del Pilar,es,7047.0,Spain,NaN,-3.683312,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12306,-3.707524,4.042329e+01,12307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7031.0,94.0,http://www.esmadrid.com/alojamientos/abami-2,Abami 2,28015.0,40.423293,info@abami2.com,"<p>Hostal situado en el barrio de Malasaña, mu...",NaN,(+34) 91 542 46 88,2 estrellas,Madrid,"San Bernardo, 35-2º I",Alojamientos,Hostales,Abami 2,es,7029.0,Spain,NaN,-3.707524,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12307,-3.689256,4.042660e+01,12308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7028.0,596.0,http://www.esmadrid.com/alojamientos/gran-meli...,Gran Meli&aacute; F&eacute;nix,28001.0,40.426598,gran.melia.fenix@melia.com,"<p><strong>Situado en plena Plaza de Colón, en...",NaN,(+34) 91 431 67 00,5 estrellas Gran Lujo,Madrid,"Hermosilla, 2",Alojamientos,Hoteles,Gran Meli&aacute; F&eacute;nix,es,7022.0,Spain,NaN,-3.689256,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12308,-3.687104,4.040136e+01,12309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7026.0,528.0,http://www.esmadrid.com/alojamientos/rafael-ho...,Rafael Hoteles Atocha,28045.0,40.401358,atocha@rafaelhoteles.com,"<p><strong>El Museo del Prado, el Thyssen, el ...",NaN,(+34) 91 468 81 00,4 estrellas,Madrid,"Mendez Alvaro, 30",Alojamientos,Hoteles,Rafael Hoteles Atocha,es,7022.0,Spain,NaN,-3.687104,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12309,-3.696560,4.042655e+01,12310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7026.0,32.0,http://www.esmadrid.com/alojamientos/petit-pal...,Petit Palace Santa B&aacute;rbara,28004.0,40.426547,santabarbara@petitpalace.com,<p><strong>Hotel boutique</strong> totalmente ...,NaN,(+34) 91 391 44 21,4 estrellas,Madrid,"Santa Bárbara, 10",Alojamientos,Hoteles,Petit Palace Santa B&aacute;rbara,es,7022.0,Spain,NaN,-3.696560,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# hotels
## input

In [3]:
url_hotels = 'https://www.esmadrid.com/opendata/alojamientos_v1_es.xml'

As it is an API call, we will use the `requests` library in order to gather the data.

In [4]:
res_hotels = requests.get(url_hotels)

In [5]:
res_hotels.headers['content-type']

'application/xml'

It is a xml type of content -> to transform it to json I'll use the `xmltodict` library.

In [6]:
df_hotels = pd.DataFrame(xmltodict.parse(res_hotels.text)['serviceList']['service'])
df_hotels

,@fechaActualizacion,@id,basicData,geoData,multimedia,extradata
0,2023-03-29,101557,"{'language': 'es', 'name': 'JW Marriott Madrid...","{'address': 'Sevilla, 2', 'zipcode': '28014', ...","{'media': [{'@type': 'image', 'description': N...","{'item': [{'@name': 'idTipo', '#text': '3'}, {..."
1,2023-01-31,100999,"{'language': 'es', 'name': 'UMusic Hotel Madri...","{'address': 'La Paz, 11,', 'zipcode': '28012',...","{'media': [{'@type': 'image', 'description': N...","{'item': [{'@name': 'idTipo', '#text': '3'}, {..."
2,2022-11-07,100952,"{'language': 'es', 'name': 'Radisson RED Madri...","{'address': 'de Atocha, 123', 'zipcode': '280...","{'media': [{'@type': 'image', 'description': N...","{'item': [{'@name': 'idTipo', '#text': '3'}, {..."
3,2022-09-16,100602,"{'language': 'es', 'name': 'Akeah', 'email': '...","{'address': 'San Bernardo, 48', 'zipcode': '28...","{'media': [{'@type': 'image', 'description': N...","{'item': [{'@name': 'idTipo', '#text': '3'}, {..."
4,2022-09-26,100590,"{'language': 'es', 'name': 'Thompson Madrid', ...","{'address': 'del Carmen, s/n.', 'zipcode': '28...","{'media': [{'@type': 'image', 'description': N...","{'item': [{'@name': 'idTipo', '#text': '3'}, {..."
...,...,...,...,...,...,...
608,2021-08-19,67376,"{'language': 'es', 'name': 'AC Hotel Madrid Fe...","{'address': 'Via de Los Poblados, 3', 'zipcode...","{'media': [{'@type': 'image', 'description': N...","{'item': [{'@name': 'idTipo', '#text': '3'}, {..."
609,2021-10-15,67399,"{'language': 'es', 'name': 'Villa Real', 'emai...","{'address': 'Plaza de las Cortes, 10 Madrid 28...","{'media': [{'@type': 'image', 'description': N...","{'item': [{'@name': 'idTipo', '#text': '3'}, {..."
610,2021-08-18,67374,"{'language': 'es', 'name': 'AC Hotel Cuzco', '...","{'address': 'Castellana, 133', 'zipcode': '280...","{'media': [{'@type': 'image', 'description': N...","{'item': [{'@name': 'idTipo', '#text': '3'}, {..."
611,2021-08-13,67373,"{'language': 'es', 'name': 'AC Aravaca', 'emai...","{'address': 'Zarzuela, 3', 'zipcode': '28023',...","{'media': [{'@type': 'image', 'description': N...","{'item': [{'@name': 'idTipo', '#text': '3'}, {..."
612,2021-08-19,67379,"{'language': 'es', 'name': 'Vincci SoMa', 'ema...","{'address': 'Calle de Goya, 79, 28001 Madrid',...","{'media': [{'@type': 'image', 'description': N...","{'item': [{'@name': 'idTipo', '#text': '3'}, {..."

- h_cat3cod (7031)
- ***~~id~~***
- ***~~web~~***
- ***~~title~~***
- ***~~zipcode~~***
- ***~~latitude~~***
- ***~~email~~***
- ***~~body~~***
- ***~~fax~~***
- ***~~phone~~***
- cat3text
- ***~~subadministrativearea~~***
- ***~~address~~***
- ***~~cat1text~~***
- cat2text
- ***~~name~~***
- ***~~h_language~~***	
- h_cat2cod	
- ***~~h_country~~***	
- ***~~h_locality~~***	
- ***~~h_longitude~~***	
- ***~~h_cat1cod~~***

In [7]:
df_hotels = pd.concat([df_hotels, df_hotels['basicData'].apply(pd.Series), df_hotels['geoData'].apply(pd.Series), df_hotels['extradata'].apply(pd.Series)], axis = 1)
df_hotels.head()

,@fechaActualizacion,@id,basicData,geoData,multimedia,extradata,language,name,email,phone,fax,title,body,web,address,zipcode,locality,country,latitude,longitude,subAdministrativeArea,item,categorias,fechas
0,2023-03-29,101557,"{'language': 'es', 'name': 'JW Marriott Madrid...","{'address': 'Sevilla, 2', 'zipcode': '28014', ...","{'media': [{'@type': 'image', 'description': N...","{'item': [{'@name': 'idTipo', '#text': '3'}, {...",es,JW Marriott Madrid,None,+34 914 18 97 70,None,JW Marriott Madrid,<p><strong>Ubicado junto a la Plaza de Canalej...,https://www.esmadrid.com/alojamientos/jw-marri...,"Sevilla, 2",28014,Madrid,Spain,40.416801800000,-3.700126000000,Madrid,"[{'@name': 'idTipo', '#text': '3'}, {'@name': ...",{'categoria': {'item': [{'@name': 'idCategoria...,None
1,2023-01-31,100999,"{'language': 'es', 'name': 'UMusic Hotel Madri...","{'address': 'La Paz, 11,', 'zipcode': '28012',...","{'media': [{'@type': 'image', 'description': N...","{'item': [{'@name': 'idTipo', '#text': '3'}, {...",es,UMusic Hotel Madrid,Socialmedia@umusic-hotels.com,+34 911 231 099,None,UMusic Hotel Madrid,"<p><strong>En pleno centro de Madrid, en la ca...",https://www.esmadrid.com/alojamientos/umusic-h...,"La Paz, 11,",28012,Madrid,Spain,40.415344900000,-3.704101700000,Madrid,"[{'@name': 'idTipo', '#text': '3'}, {'@name': ...",{'categoria': {'item': [{'@name': 'idCategoria...,None
2,2022-11-07,100952,"{'language': 'es', 'name': 'Radisson RED Madri...","{'address': 'de Atocha, 123', 'zipcode': '280...","{'media': [{'@type': 'image', 'description': N...","{'item': [{'@name': 'idTipo', '#text': '3'}, {...",es,Radisson RED Madrid,info.madrid@radissonred.com,+34 912 98 48 00,None,Radisson RED Madrid,"<p><strong>La calle Atocha N&ordm;123, junto a...",https://www.esmadrid.com/alojamientos/radisson...,"de Atocha, 123",28012,Madrid,Spain,40.410038200000,-3.693743700000,Madrid,"[{'@name': 'idTipo', '#text': '3'}, {'@name': ...",{'categoria': {'item': [{'@name': 'idCategoria...,None
3,2022-09-16,100602,"{'language': 'es', 'name': 'Akeah', 'email': '...","{'address': 'San Bernardo, 48', 'zipcode': '28...","{'media': [{'@type': 'image', 'description': N...","{'item': [{'@name': 'idTipo', '#text': '3'}, {...",es,Akeah,reservas@akeah.com,+34 919 994 177,None,Akeah,<p><strong>Situado en la calle de San Bernardo...,https://www.esmadrid.com/alojamientos/akeah,"San Bernardo, 48",28015,Madrid,Spain,40.424884100000,-3.707327500000,Madrid,"[{'@name': 'idTipo', '#text': '3'}, {'@name': ...",{'categoria': {'item': [{'@name': 'idCategoria...,None
4,2022-09-26,100590,"{'language': 'es', 'name': 'Thompson Madrid', ...","{'address': 'del Carmen, s/n.', 'zipcode': '28...","{'media': [{'@type': 'image', 'description': N...","{'item': [{'@name': 'idTipo', '#text': '3'}, {...",es,Thompson Madrid,thompsonmadrid@thompsonhotels.com,+34 910 62 12 34,None,Thompson Madrid,"<p><strong>Thompson Madrid, perteneciente a la...",https://www.esmadrid.com/alojamientos/thompson...,"del Carmen, s/n.",28013,Madrid,Spain,40.418580000000,-3.703415100000,Madrid,"[{'@name': 'idTipo', '#text': '3'}, {'@name': ...",{'categoria': {'item': [{'@name': 'idCategoria...,None

In [8]:
item = df_hotels['item'].apply(pd.Series)#['categoria'].apply(pd.Series)
cat1_num = item[0].apply(pd.Series).rename({'#text':'cod1_num'}, axis = 1).drop(['@name'], axis = 1)
cat1_cod = item[1].apply(pd.Series).rename({'#text':'cod1_txt'}, axis = 1).drop(['@name'], axis = 1)
df_hotels = pd.concat([df_hotels, cat1_num, cat1_cod], axis = 1)
df_hotels.head(1)

,@fechaActualizacion,@id,basicData,geoData,multimedia,extradata,language,name,email,phone,fax,title,body,web,address,zipcode,locality,country,latitude,longitude,subAdministrativeArea,item,categorias,fechas,cod1_num,cod1_txt
0,2023-03-29,101557,"{'language': 'es', 'name': 'JW Marriott Madrid...","{'address': 'Sevilla, 2', 'zipcode': '28014', ...","{'media': [{'@type': 'image', 'description': N...","{'item': [{'@name': 'idTipo', '#text': '3'}, {...",es,JW Marriott Madrid,None,+34 914 18 97 70,None,JW Marriott Madrid,<p><strong>Ubicado junto a la Plaza de Canalej...,https://www.esmadrid.com/alojamientos/jw-marri...,"Sevilla, 2",28014,Madrid,Spain,40.416801800000,-3.700126000000,Madrid,"[{'@name': 'idTipo', '#text': '3'}, {'@name': ...",{'categoria': {'item': [{'@name': 'idCategoria...,None,3,Alojamientos

In [9]:
categoria = df_hotels['categorias'].apply(pd.Series)['categoria'].apply(pd.Series)
item = categoria['item'].apply(pd.Series)#[0].apply(pd.Series)
cat2_num = item[0].apply(pd.Series).rename({'#text':'cod2_num'}, axis = 1).drop(['@name', 0], axis = 1)
cat2_cod = item[1].apply(pd.Series).rename({'#text':'cod2_txt'}, axis = 1).drop(['@name', 0], axis = 1)
df_hotels = pd.concat([df_hotels, cat2_num, cat2_cod], axis = 1)
df_hotels.head(1)

/var/folders/m6/wtrz4vsj7cv881kk9kqh1v500000gn/T/ipykernel_9987/1217038400.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  categoria = df_hotels['categorias'].apply(pd.Series)['categoria'].apply(pd.Series)
/var/folders/m6/wtrz4vsj7cv881kk9kqh1v500000gn/T/ipykernel_9987/1217038400.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  categoria = df_hotels['categorias'].apply(pd.Series)['categoria'].apply(pd.Series)
/var/folders/m6/wtrz4vsj7cv881kk9kqh1v500000gn/T/ipykernel_9987/1217038400.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  categoria = df_hotels['categorias'].apply(pd.Series)['categoria'].apply(pd.Series)

,@fechaActualizacion,@id,basicData,geoData,multimedia,extradata,language,name,email,phone,fax,title,body,web,address,zipcode,locality,country,latitude,longitude,subAdministrativeArea,item,categorias,fechas,cod1_num,cod1_txt,cod2_num,cod2_txt
0,2023-03-29,101557,"{'language': 'es', 'name': 'JW Marriott Madrid...","{'address': 'Sevilla, 2', 'zipcode': '28014', ...","{'media': [{'@type': 'image', 'description': N...","{'item': [{'@name': 'idTipo', '#text': '3'}, {...",es,JW Marriott Madrid,None,+34 914 18 97 70,None,JW Marriott Madrid,<p><strong>Ubicado junto a la Plaza de Canalej...,https://www.esmadrid.com/alojamientos/jw-marri...,"Sevilla, 2",28014,Madrid,Spain,40.416801800000,-3.700126000000,Madrid,"[{'@name': 'idTipo', '#text': '3'}, {'@name': ...",{'categoria': {'item': [{'@name': 'idCategoria...,None,3,Alojamientos,7022,Hoteles

In [10]:
estrellas = categoria['subcategorias'].apply(pd.Series)['subcategoria'].apply(pd.Series)['item'].apply(pd.Series)#[1].apply(pd.Series)
cat3_num = estrellas[0].apply(pd.Series).rename({'#text':'cod3_num'}, axis = 1).drop(['@name', 0], axis = 1)
cat3_cod = estrellas[1].apply(pd.Series).rename({'#text':'cod3_txt'}, axis = 1).drop(['@name', 0], axis = 1)
df_hotels = pd.concat([df_hotels, cat3_num, cat3_cod], axis = 1)
df_hotels.head(1)

,@fechaActualizacion,@id,basicData,geoData,multimedia,extradata,language,name,email,phone,fax,title,body,web,address,zipcode,locality,country,latitude,longitude,subAdministrativeArea,item,categorias,fechas,cod1_num,cod1_txt,cod2_num,cod2_txt,cod3_num,cod3_txt
0,2023-03-29,101557,"{'language': 'es', 'name': 'JW Marriott Madrid...","{'address': 'Sevilla, 2', 'zipcode': '28014', ...","{'media': [{'@type': 'image', 'description': N...","{'item': [{'@name': 'idTipo', '#text': '3'}, {...",es,JW Marriott Madrid,None,+34 914 18 97 70,None,JW Marriott Madrid,<p><strong>Ubicado junto a la Plaza de Canalej...,https://www.esmadrid.com/alojamientos/jw-marri...,"Sevilla, 2",28014,Madrid,Spain,40.416801800000,-3.700126000000,Madrid,"[{'@name': 'idTipo', '#text': '3'}, {'@name': ...",{'categoria': {'item': [{'@name': 'idCategoria...,None,3,Alojamientos,7022,Hoteles,7027,5 estrellas

In [13]:
df_hotels.drop(['basicData', 'geoData', 'multimedia', 'extradata', 'item', 'categorias'], axis = 1, inplace = True)
df_hotels.head()

,@fechaActualizacion,@id,language,name,email,phone,fax,title,body,web,address,zipcode,locality,country,latitude,longitude,subAdministrativeArea,fechas,cod1_num,cod1_txt,cod2_num,cod2_txt,cod3_num,cod3_txt
0,2023-03-29,101557,es,JW Marriott Madrid,None,+34 914 18 97 70,None,JW Marriott Madrid,<p><strong>Ubicado junto a la Plaza de Canalej...,https://www.esmadrid.com/alojamientos/jw-marri...,"Sevilla, 2",28014,Madrid,Spain,40.416801800000,-3.700126000000,Madrid,None,3,Alojamientos,7022,Hoteles,7027,5 estrellas
1,2023-01-31,100999,es,UMusic Hotel Madrid,Socialmedia@umusic-hotels.com,+34 911 231 099,None,UMusic Hotel Madrid,"<p><strong>En pleno centro de Madrid, en la ca...",https://www.esmadrid.com/alojamientos/umusic-h...,"La Paz, 11,",28012,Madrid,Spain,40.415344900000,-3.704101700000,Madrid,None,3,Alojamientos,7022,Hoteles,7027,5 estrellas
2,2022-11-07,100952,es,Radisson RED Madrid,info.madrid@radissonred.com,+34 912 98 48 00,None,Radisson RED Madrid,"<p><strong>La calle Atocha N&ordm;123, junto a...",https://www.esmadrid.com/alojamientos/radisson...,"de Atocha, 123",28012,Madrid,Spain,40.410038200000,-3.693743700000,Madrid,None,3,Alojamientos,7022,Hoteles,7026,4 estrellas
3,2022-09-16,100602,es,Akeah,reservas@akeah.com,+34 919 994 177,None,Akeah,<p><strong>Situado en la calle de San Bernardo...,https://www.esmadrid.com/alojamientos/akeah,"San Bernardo, 48",28015,Madrid,Spain,40.424884100000,-3.707327500000,Madrid,None,3,Alojamientos,7022,Hoteles,7026,4 estrellas
4,2022-09-26,100590,es,Thompson Madrid,thompsonmadrid@thompsonhotels.com,+34 910 62 12 34,None,Thompson Madrid,"<p><strong>Thompson Madrid, perteneciente a la...",https://www.esmadrid.com/alojamientos/thompson...,"del Carmen, s/n.",28013,Madrid,Spain,40.418580000000,-3.703415100000,Madrid,None,3,Alojamientos,7022,Hoteles,7028,5 estrellas Gran Lujo