In [1]:
import pandas as pd
import requests
import xmltodict
import json
pd.set_option('display.max_columns', None)
import cidownloader

import sys
sys.path.append("../")
import src.supportExtract as se
import warnings
warnings.filterwarnings('ignore')

The data here extracted comes from Ayuntamiento de Madrid's [Open Data](https://datos.madrid.es/portal/site/egob).
<br>This source stores multiple data related to the city of Madrid. In this case, we will get info on hotels and bars and restaurants.

# hotels
## input

In [2]:
df_hotels = se.extractHotels()
print(df_hotels.shape)
df_hotels.head()

calling API
cleaning data
saving the output
(611, 24)

,@fechaActualizacion,@id,language,name,email,phone,fax,title,body,web,address,zipcode,locality,country,latitude,longitude,subAdministrativeArea,fechas,cod1_num,cod1_txt,cod2_num,cod2_txt,cod3_num,cod3_txt
0,2023-04-12,101557,es,JW Marriott Madrid,None,+34 914 18 97 70,None,JW Marriott Madrid,<p><strong>Ubicado junto a la Plaza de Canalej...,https://www.esmadrid.com/alojamientos/jw-marri...,"Sevilla, 2",28014,Madrid,Spain,40.416801800000,-3.700126000000,Madrid,None,3,Alojamientos,7022,Hoteles,7027,5 estrellas
1,2023-01-31,100999,es,UMusic Hotel Madrid,Socialmedia@umusic-hotels.com,+34 911 231 099,None,UMusic Hotel Madrid,"<p><strong>En pleno centro de Madrid, en la ca...",https://www.esmadrid.com/alojamientos/umusic-h...,"La Paz, 11,",28012,Madrid,Spain,40.415344900000,-3.704101700000,Madrid,None,3,Alojamientos,7022,Hoteles,7027,5 estrellas
2,2022-11-07,100952,es,Radisson RED Madrid,info.madrid@radissonred.com,+34 912 98 48 00,None,Radisson RED Madrid,"<p><strong>La calle Atocha N&ordm;123, junto a...",https://www.esmadrid.com/alojamientos/radisson...,"de Atocha, 123",28012,Madrid,Spain,40.410038200000,-3.693743700000,Madrid,None,3,Alojamientos,7022,Hoteles,7026,4 estrellas
3,2022-09-16,100602,es,Akeah,reservas@akeah.com,+34 919 994 177,None,Akeah,<p><strong>Situado en la calle de San Bernardo...,https://www.esmadrid.com/alojamientos/akeah,"San Bernardo, 48",28015,Madrid,Spain,40.424884100000,-3.707327500000,Madrid,None,3,Alojamientos,7022,Hoteles,7026,4 estrellas
4,2022-09-26,100590,es,Thompson Madrid,thompsonmadrid@thompsonhotels.com,+34 910 62 12 34,None,Thompson Madrid,"<p><strong>Thompson Madrid, perteneciente a la...",https://www.esmadrid.com/alojamientos/thompson...,"del Carmen, s/n.",28013,Madrid,Spain,40.418580000000,-3.703415100000,Madrid,None,3,Alojamientos,7022,Hoteles,7028,5 estrellas Gran Lujo

# censo de locales

In [3]:
df_actividades, df_local, df_terrazas, df_licencia = se.censoLocalesTerrazas(year = '2023', month = '03')

calling API
saving the output for df_actividades
saving the output for df_local
saving the output for df_terrazas
saving the output for df_licencia

In [4]:
print(df_actividades.shape)
df_actividades.head()

(168649, 49)

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,cod_barrio_local,id_seccion_censal_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,id_tipo_acceso_local,desc_tipo_acceso_local,id_situacion_local,desc_situacion_local,id_vial_edificio,clase_vial_edificio,desc_vial_edificio,id_ndp_edificio,id_clase_ndp_edificio,nom_edificio,num_edificio,cal_edificio,secuencial_local_PC,id_vial_acceso,clase_vial_acceso,desc_vial_acceso,id_ndp_acceso,id_clase_ndp_acceso,nom_acceso,num_acceso,cal_acceso,id_agrupacion,nombre_agrupacion,id_tipo_agrup,desc_tipo_agrup,id_planta_agrupado,id_local_agrupado,rotulo,id_seccion,desc_seccion,id_division,desc_division,id_epigrafe,desc_epigrafe,fx_carga,fx_datos_ini,fx_datos_fin,coordenada_x_agrupacion,coordenada_y_agrupacion
0,10000044,1,CENTRO,101,PALACIO,1,1014,14,439722.59,4473550.53,1,Puerta Calle,4,Cerrado,369700,CALLE,HUMILLADERO ...,11000878,1,NUM,16,,10,369700,CALLE,HUMILLADERO ...,11000878,1,NUM,16,,-1,SIN AGRUPACION,-1,SIN AGRUPACION,PB,,V.M. VINOMANIA,G,COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACI...,47,"COMERCIO AL POR MENOR, EXCEPTO DE VEHÍCULOS DE...",472502,COMERCIO AL POR MENOR DE VINOS Y ALCOHOLES (BO...,2023-03-08T07:01:36,2023-03-01,2023-03-01,NaN,NaN
1,10000071,1,CENTRO,106,SOL,6,1119,119,440388.59,4474077.53,1,Puerta Calle,1,Abierto,93000,CALLE,BARCELONA ...,11007454,1,NUM,12,,10,93000,CALLE,BARCELONA ...,11007454,1,NUM,12,,-1,SIN AGRUPACION,-1,SIN AGRUPACION,PB,IZ,LA DESCUBIERTA,I,HOSTELERÍA,56,SERVICIOS DE COMIDAS Y BEBIDAS,561001,RESTAURANTE,2023-03-08T07:01:36,2023-03-01,2023-03-01,NaN,NaN
2,10000093,1,CENTRO,104,JUSTICIA,4,1074,74,440953.59,4474656.52,1,Puerta Calle,1,Abierto,94000,CALLE,BARQUILLO ...,20005422,1,NUM,7,,30,638500,PLAZA,REY ...,11004306,1,NUM,4,,-1,SIN AGRUPACION,-1,SIN AGRUPACION,PB,03,LA REVOLTOSA,I,HOSTELERÍA,56,SERVICIOS DE COMIDAS Y BEBIDAS,561006,CAFETERIA,2023-03-08T07:01:36,2023-03-01,2023-03-01,NaN,NaN
3,10000162,1,CENTRO,104,JUSTICIA,4,1088,88,0.00,0.00,0,Agrupado,1,Abierto,92900,CALLE,BARCELO ...,11005232,1,NUM,6,,0,92900,CALLE,BARCELO ...,11005232,1,NUM,6,,99000056,MERCADO MUNICIPAL DE BARCELO,12,Mercado Municipal,0,101,POLLERIA ALIAN BARCELO (PTO. 101),G,COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACI...,47,"COMERCIO AL POR MENOR, EXCEPTO DE VEHÍCULOS DE...",472206,"COMERCIO AL POR MENOR DE AVES, HUEVOS Y CAZA S...",2023-03-08T07:01:36,2023-03-01,2023-03-01,440692.59,4475369.53
4,10000258,1,CENTRO,106,SOL,6,1123,123,440127.59,4474277.53,1,Puerta Calle,1,Abierto,68300,CALLE,ARENAL ...,11007805,1,NUM,7,,20,68300,CALLE,ARENAL ...,11007805,1,NUM,7,,-1,SIN AGRUPACION,-1,SIN AGRUPACION,PB,02,FERPAL,G,COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACI...,47,"COMERCIO AL POR MENOR, EXCEPTO DE VEHÍCULOS DE...",471104,COMERCIO AL POR MENOR DE PRODUCTOS ALIMENTICIO...,2023-03-08T07:01:36,2023-03-01,2023-03-01,NaN,NaN

In [5]:
print(df_local.shape)
df_local.head()

(150638, 48)

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,cod_barrio_local,id_seccion_censal_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,id_tipo_acceso_local,desc_tipo_acceso_local,id_situacion_local,desc_situacion_local,id_vial_edificio,clase_vial_edificio,desc_vial_edificio,id_ndp_edificio,id_clase_ndp_edificio,nom_edificio,num_edificio,cal_edificio,secuencial_local_PC,id_vial_acceso,clase_vial_acceso,desc_vial_acceso,id_ndp_acceso,id_clase_ndp_acceso,nom_acceso,num_acceso,cal_acceso,id_agrupacion,nombre_agrupacion,id_tipo_agrup,desc_tipo_agrup,id_planta_agrupado,id_local_agrupado,rotulo,cod_postal,fx_carga,fx_datos_ini,fx_datos_fin,hora_apertura1,hora_cierre1,hora_apertura2,hora_cierre2,coordenada_x_agrupacion,coordenada_y_agrupacion
0,300007732,6,TETUAN,601,BELLAS VISTAS,1,6011,11,439965.50000,4478510.5,1,Puerta Calle,4,Cerrado,553900,CALLE,OUDRID ...,11028424,1,NUM,23,,5,553900,CALLE,OUDRID ...,11028424,1,NUM,23,,-1,SIN AGRUPACION,-1,SIN AGRUPACION,PB,02,SIN ACTIVIDAD,28039,2023-03-08T07:02:21,2023-03-01,2023-03-01,NaN,NaN,NaN,NaN,NaN,NaN
1,300007754,6,TETUAN,601,BELLAS VISTAS,1,6021,21,440164.37500,4477802.0,1,Puerta Calle,4,Cerrado,31600,CALLE,ALMANSA ...,11029058,1,NUM,23,,10,31600,CALLE,ALMANSA ...,11029058,1,NUM,23,,-1,SIN AGRUPACION,-1,SIN AGRUPACION,PB,01,SIN ACTIVIDAD,28039,2023-03-08T07:02:21,2023-03-01,2023-03-01,NaN,NaN,NaN,NaN,NaN,NaN
2,300007812,6,TETUAN,602,CUATRO CAMINOS,2,6026,26,0.00000,0.0,1,Puerta Calle,9,Baja Reunificación,78300,CALLE,ARTISTAS ...,11029191,1,NUM,38,,10,78300,CALLE,ARTISTAS ...,11029191,1,NUM,38,,-1,SIN AGRUPACION,-1,SIN AGRUPACION,PB,LCB,SIN ACTIVIDAD,28020,2023-03-08T07:02:21,2023-03-01,2023-03-01,NaN,NaN,NaN,NaN,NaN,NaN
3,300007840,6,TETUAN,602,CUATRO CAMINOS,2,6027,27,440734.25000,4477639.0,1,Puerta Calle,1,Abierto,78300,CALLE,ARTISTAS ...,11029215,1,NUM,46,,10,78300,CALLE,ARTISTAS ...,11029215,1,NUM,46,,-1,SIN AGRUPACION,-1,SIN AGRUPACION,PB,01,BRICKFUNDING,28020,2023-03-08T07:02:21,2023-03-01,2023-03-01,NaN,NaN,NaN,NaN,NaN,NaN
4,300008082,6,TETUAN,602,CUATRO CAMINOS,2,6029,29,441342.40625,4477737.0,1,Puerta Calle,4,Cerrado,153600,PASEO,CASTELLANA ...,20066518,1,NUM,83,,15,153600,PASEO,CASTELLANA ...,20066518,1,NUM,83,,-1,SIN AGRUPACION,-1,SIN AGRUPACION,PB,IZ3,HOSPITAL VETERINARIA CASTELLANA,28046,2023-03-08T07:02:21,2023-03-01,2023-03-01,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
print(df_terrazas.shape)
df_terrazas.head()

(6592, 61)

,id_terraza,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,id_ndp_edificio,id_clase_ndp_edificio,id_vial_edificio,clase_vial_edificio,desc_vial_edificio,nom_edificio,num_edificio,Cod_Postal,coordenada_x_local,coordenada_y_local,id_tipo_acceso_local,desc_tipo_acceso_local,id_situacion_local,desc_situacion_local,secuencial_local_PC,Escalera,id_planta_agrupado,id_local_agrupado,rotulo,id_periodo_terraza,desc_periodo_terraza,id_situacion_terraza,desc_situacion_terraza,Superficie_ES,Fecha_confir_ult_decreto_resol,id_ndp_terraza,id_clase_ndp_terraza,id_vial,desc_clase,desc_nombre,nom_terraza,num_terraza,cal_terraza,desc_ubicacion_terraza,hora_ini_LJ_es,hora_fin_LJ_es,hora_ini_VS_es,hora_fin_VS_es,mesas_aux_es,mesas_es,sillas_es,cal_edificio,fx_carga,fx_datos_ini,fx_datos_fin,Superficie_RA,hora_ini_LJ_ra,hora_fin_LJ_ra,hora_ini_VS_ra,hora_fin_VS_ra,mesas_aux_ra,mesas_ra,sillas_ra,coordenada_x_agrupacion,coordenada_y_agrupacion
0,7,280067128,20,SAN BLAS-CANILLEJAS,2005,ROSAS,20157611,1,2443,CALLE,SOFIA ...,NUM,177,28022,448900.55,4474755.41,1,Puerta Calle,1,Abierto,10,,PB,02,OUTLET MOTO MADRID,2,Estacional,1,Abierta,7.20,24/03/2014,20157611,1,2443,CALLE,SOFIA ...,NUM,177,A,Acera,08:00:00,01:30:00,08:00:00,01:30:00,0,5,10,A,2023-03-08T07:01:53,2023-03-01,2023-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,33,270403150,4,SALAMANCA,404,GUINDALERA,11018870,1,88917384,AVENIDA,AMERICA ...,NUM,2,28028,442586.58,4476524.51,1,Puerta Calle,1,Abierto,30,,PB,01,VIPS,1,Anual,1,Abierta,21.06,04/04/2014,11018870,1,88917384,AVENIDA,AMERICA ...,NUM,2,,Acera,10:00:00,01:00:00,10:00:00,02:30:00,0,9,27,,2023-03-08T07:01:53,2023-03-01,2023-03-01,16.20,10:00:00,00:00:00,10:00:00,00:00:00,0.0,9.0,27.0,NaN,NaN
2,34,270078567,4,SALAMANCA,404,GUINDALERA,11018555,1,35200,CALLE,ALONSO HEREDIA ...,NUM,25,28028,442986.58,4476379.50,1,Puerta Calle,1,Abierto,10,,PB,04,BAR MARISQUERIA LUIS,1,Anual,1,Abierta,11.16,04/04/2014,11018555,1,35200,CALLE,ALONSO HEREDIA ...,NUM,25,,Calle peatonal,10:00:00,01:00:00,10:00:00,02:30:00,0,4,14,,2023-03-08T07:01:53,2023-03-01,2023-03-01,11.16,10:00:00,00:00:00,10:00:00,00:00:00,0.0,0.0,0.0,NaN,NaN
3,36,40002021,4,SALAMANCA,404,GUINDALERA,11018545,1,10100,CALLE,AGUSTIN DURAN ...,NUM,10,28028,442972.58,4476350.50,1,Puerta Calle,1,Abierto,20,,PB,,SAGAR,2,Estacional,1,Abierta,7.20,07/04/2014,11018548,1,35200,CALLE,ALONSO HEREDIA ...,NUM,22,,Calle peatonal,08:00:00,01:30:00,08:00:00,01:30:00,0,5,10,,2023-03-08T07:01:53,2023-03-01,2023-03-01,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN
4,40,40002808,4,SALAMANCA,401,RECOLETOS,11014033,1,85200,CALLE,AYALA ...,NUM,14,28001,441656.59,4475470.52,1,Puerta Calle,1,Abierto,10,,PB,,WAGABOO,1,Anual,1,Abierta,25.48,07/04/2014,11014033,1,85200,CALLE,AYALA ...,NUM,14,,Acera,10:00:00,01:00:00,10:00:00,02:30:00,1,8,24,,2023-03-08T07:01:53,2023-03-01,2023-03-01,25.48,10:00:00,00:00:00,10:00:00,00:00:00,1.0,8.0,24.0,NaN,NaN

In [7]:
print(df_licencia.shape)
df_licencia.head()

(145035, 49)

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,cod_barrio_local,id_seccion_censal_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,id_tipo_acceso_local,desc_tipo_acceso_local,id_situacion_local,desc_situacion_local,id_ndp_edificio,id_clase_ndp_edificio,id_vial_edificio,clase_vial_edificio,desc_vial_edificio,nom_edificio,num_edificio,cal_edificio,secuencial_local_PC,id_ndp_acceso,id_clase_ndp_acceso,id_vial_acceso,clase_vial_acceso,desc_vial_acceso,nom_acceso,num_acceso,cal_acceso,id_agrupacion,nombre_agrupacion,id_tipo_agrup,desc_tipo_agrup,id_planta_agrupado,id_local_agrupado,rotulo,ref_licencia,id_tipo_licencia,desc_tipo_licencia,id_tipo_situacion_licencia,desc_tipo_situacion_licencia,Fecha_Dec_Lic,fx_carga,fx_datos_ini,fx_datos_fin,coordenada_x_agrupacion,coordenada_y_agrupacion
0,10001936,1,CENTRO,106,SOL,6,1121,121,439958.59,4474028.53,1,Puerta Calle,1,Abierto,11007699,1,743600,CALLE,TOLEDO ...,NUM,4,,10,11007699,1,743600,CALLE,TOLEDO ...,NUM,4,,-1,SIN AGRUPACION,-1,SIN AGRUPACION,PB,CT,CORRIENTES 348,500/2020/06644,1,Declaración Responsable,02,Concedida,12/04/2021,2023-03-08T07:01:04,2023-03-01,2023-03-01,NaN,NaN
1,10001952,1,CENTRO,101,PALACIO,1,1006,6,439742.60,4474275.53,1,Puerta Calle,1,Abierto,11000422,1,759900,CALLE,UNION ...,NUM,4,,20,11000422,1,759900,CALLE,UNION ...,NUM,4,,-1,SIN AGRUPACION,-1,SIN AGRUPACION,PB,02,MUJERES & COMPAÑÍA,101/2001/08889,2,Licencia Urbanística,02,Concedida,11/03/2002,2023-03-08T07:01:04,2023-03-01,2023-03-01,NaN,NaN
2,10001962,1,CENTRO,106,SOL,6,1123,123,440180.59,4474234.53,1,Puerta Calle,1,Abierto,11007803,1,497800,CALLE,MAYOR ...,NUM,4,,20,11007803,1,497800,CALLE,MAYOR ...,NUM,4,,-1,SIN AGRUPACION,-1,SIN AGRUPACION,PB,T6,WOK TO WALK,500/2014/00063,3,Licencia de Funcionamiento,02,Concedida,25/02/2014,2023-03-08T07:01:04,2023-03-01,2023-03-01,NaN,NaN
3,10001962,1,CENTRO,106,SOL,6,1123,123,440180.59,4474234.53,1,Puerta Calle,1,Abierto,11007803,1,497800,CALLE,MAYOR ...,NUM,4,,20,11007803,1,497800,CALLE,MAYOR ...,NUM,4,,-1,SIN AGRUPACION,-1,SIN AGRUPACION,PB,T6,WOK TO WALK,500/2016/06182,4,Transmisión de licencia Urbanística,04,Tramitando Transmisión de Licencia,25/04/2016,2023-03-08T07:01:04,2023-03-01,2023-03-01,NaN,NaN
4,10001966,1,CENTRO,106,SOL,6,1118,118,440524.59,4474553.53,1,Puerta Calle,1,Abierto,11007376,1,120100,CALLE,CABALLERO DE GRACIA ...,NUM,8,,20,11007376,1,120100,CALLE,CABALLERO DE GRACIA ...,NUM,8,,-1,SIN AGRUPACION,-1,SIN AGRUPACION,PB,CN1,RESTAURANTE DE SICHUAN,500/2016/15521,1,Declaración Responsable,03,Denegada,26/05/2017,2023-03-08T07:01:04,2023-03-01,2023-03-01,NaN,NaN